{% extends 'pages/_base.html' %}

{% block content %}
<div class="header mt-md-2">
    <div class="header-body">

      <!-- Title -->
      <h1 class="header-title">
         Rutas
      </h1>


      <!-- Subtitle -->
      <p class="header-subtitle">
         <h2 class="text-muted nav-item mb-0">
        <a href="{% url 'addShipment' %}">
          Agregar
        </a>
      </h2>
      </p>

    </div>
  </div>

  <div class="table-responsive" data-toggle="lists" data-options='{"valueNames": ["tables-name", "tables-driver",
  "tables-date", "tables-delete", "tables-edit", "tables-print"]}'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-name">Nombre</a>
          </th>
          <th scope="col">
              <a href="#" class="text-muted sort" data-sort="tables-driver">Chofer</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-date">Fecha</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" >Delete</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" >Update</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" >Print</a>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        {% for shipment in shipments %}
        <tr>
          <td class="tables-first">{{ shipment.name }}</td>
            <td class="tables-first">{{ shipment.driver }}</td>
          <td class="tables-last">{{ shipment.date }}</td>
          <td class="tables-handle text-center"><a href="{% url 'delete-shipment' shipment.id %}"><i class="fe fe-trash"></i></a></td>
          <td class="tables-handle text-center"><a href="{% url 'edit-shipment' shipment.id %}"><i class="fe fe-edit-2"></i></a></td>
          <td class="tables-handle text-center"><a href="{% url 'print-shipment' shipment.id %}"><i class="fe fe-printer"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    
        
{% endblock content %}