{% extends 'pages/_base.html' %}
{% load widget_tweaks %}


{% block content %}
                <div class="header mt-md-5">
                    <div class="header-body">
                      <div class="row align-items-center">
                        <div class="col">


                          <!-- Title -->
                          <h1 class="header-title">
                                  <i class="fe fe-user"></i>
                            Crear nueva entrega
                          </h1>

                        </div>
                      </div> <!-- / .row -->
                    </div>
                  </div>

                <form method="POST">
                 {% csrf_token %}
                 {% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS="required" %}

                    <div class="form-group">
                                  <div class="form-group">
                                      <label>{{ form.name.label }}</label>
                                      {% render_field form.name|attr:"rows:1"|add_class:'form-control'|add_error_class:"is-invalid" %}
                                      <div class="invalid-feedback">
                                          {{ form.name.errors }}
                                      </div>
                                  </div>
                    </div>

                    <div class="form-group">
                                  <div class="form-group">
                                      <label>{{ form.driver.label }}</label>
                                      {% render_field form.driver|add_class:'form-control'|add_error_class:"is-invalid" %}
                                      <div class="invalid-feedback">
                                          {{ form.driver.errors }}
                                      </div>
                                  </div>
                    </div>

                    <div class="form-group">
                                  <div class="form-group">
                                      <label>{{ form.vehicle.label }}</label>
                                      {% render_field form.vehicle|add_class:'form-control'|add_error_class:"is-invalid" %}
                                      <div class="invalid-feedback">
                                          {{ form.vehicle.errors }}
                                      </div>
                                  </div>
                    </div>

                    <div class="form-group">
                                  <div class="form-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-th-list"></i>
                                          {% render_field form.clients|attr:"multiple:multiple"|attr:"data-plugin-multiselect"|add_class:'form-control'|add_error_class:"is-invalid" %}
                                          <div class="invalid-feedback">
                                              {{ form.clients.errors }}
                                          </div>
                                      </span>

                                  </div>
                    </div>

                 {% endwith %}
                </form>

              <input type="submit" class="primaryAction btn btn-lg btn-block btn-primary mb-3" value="Crear">
{% endblock content %}