{% extends 'pages/_base.html' %}
{% load cache %}


{% block content %}


{% if user.profile.is_approved %}
{% cache 500 username %}
<div class="header mt-md-2">
    <div class="header-body">

      <!-- Title -->
      <h1 class="header-title">
         {{ user.profile.warehouse }}
      </h1>

      <!-- Subtitle -->
      <p class="header-subtitle">
        Welcome - {{ user }}
      </p>

    </div>
  </div>
{% endcache %}
  <div class="row">
    <div class="col-12 col-lg-6 col-xl">
      
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="card-title text-uppercase text-muted mb-2">
                Total en transferencia
              </h6>
              
<!--              &lt;!&ndash; Heading &ndash;&gt;-->
<!--              <span class="h2 mb-0">-->
<!--                {{ transfer_count }}-->
<!--              </span>-->

            </div>
            <div class="col-auto">
              
              <!-- Icon -->
              <span class="h2 fe fe-tag text-muted mb-0"></span>

            </div>
          </div> <!-- / .row -->

        </div>
      </div>
        
    </div>
  </div>
<div class="row">
    <div class="col-12 col-lg-6 col-xl">

      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="card-title text-uppercase text-muted mb-2">
                Total en almacen
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                {{ warehouse_count }}
              </span>

            </div>
            <div class="col-auto">

              <!-- Icon -->
              <span class="h2 fe fe-tag text-muted mb-0"></span>

            </div>
          </div> <!-- / .row -->

        </div>
      </div>

    </div>
  </div>
{% else %}

      <div class="row justify-content-center">
        <div class="my-5">

          <div class="text-center">

            <!-- Preheading -->
            <h6 class="text-uppercase text-muted mb-4">
              Aproval error
            </h6>

            <!-- Heading -->
            <h1 class="display-4 mb-3">
              Your account has not been approved.💔
            </h1>

            <!-- Subheading -->
            <p class="text-muted mb-4">
              You might have to contact your administrator.
            </p>

<!--            &lt;!&ndash; Button &ndash;&gt;-->
<!--            <a href="index.html" class="btn btn-lg btn-primary">-->

<!--            </a>-->

          </div>

        </div>
      </div> <!-- / .row -->
  <h1></h1>
{% endif %}
{% endblock content %}