{# product/templates/warehouse_table_htmx.html #}
{% extends "pages/_base.html" %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="header mt-md-2">
        <div class="header-body">

          <!-- Title -->
          <h1 class="header-title">
             Almacen
          </h1>
        </div>
    </div>

<!--    {# Search form #}-->
<!--    <form hx-get="{% url 'warehouse' %}"-->
<!--          hx-target="div.table-container"-->
<!--          hx-swap="outerHTML"-->
<!--          hx-indicator=".progress"-->
<!--          class="form-inline">-->
<!--    </form>-->

<!--    <input class="form-inline" type="search"-->
<!--           name="search" placeholder="Search..."-->
<!--           hx-get="{% url 'warehouse' %}"-->
<!--           hx-trigger="keyup delay:500ms, changed, search"-->
<!--           hx-target="div.table-container"-->
<!--           hx-swap="outerHTML"-->
<!--           hx-indicator=".progress">-->
<!--    <i class="mx-2 htmx-indicator fa fa-spinner fa-pulse"></i>-->

<!--    {# Progress indicator #}-->
<!--    <div class="progress">-->
<!--        <div class="indeterminate"></div>-->
<!--    </div>-->

    {# The actual table #}
    {% render_table table %}
{% endblock %}