{% extends 'pages/_base.html' %}

{% block content %}
<div class="header mt-md-2">
    <div class="header-bodyw">

      <!-- Title -->
      <h1 class="header-title">
         Almacen
      </h1>
      <h2 class="text-muted nav-item mb-0">
        <a href="{% url 'addTransference' %}">
          Agregar
        </a>
      </h2>
    </div>
  </div>

  <div class="table-responsive" data-toggle="lists" data-options='{"valueNames": ["tables-hbl", "tables-name",
      "tables-address", "tables-city", "tables-province"]}'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-hbl">HBL</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-name">Nombre</a>
          </th>
          <th scope="col">
              <a href="#" class="text-muted sort" data-sort="tables-address">Direccion</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" data-sort="tables-city">Municipio</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" data-sort="tables-province">Provincia</a>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        {% for client in warehouse %}
        <tr>
          <th scope="row" class="tables-row">{{ client.hbl }}</th>
          <td class="tables-first">{{ client.name }}</td>
          <td class="tables-first">{{ client.address }}</td>
          <td class="tables-first">{{ client.city }}</td>
          <td class="tables-first">{{ client.state }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    
        
{% endblock content %}